<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Service</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th>Cover Image</th>
        <th>Title</th>
        <th>Won an Oscar</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td><img width="120" th:src="${movie.coverImage}"/></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.wonOscar}"></td>
        <td th:text="${movie.year}"></td>
    </tr>
    <form method="POST" th:action="@{/movies}" th:object="${movie}">
        <tr>
            <td>
                URL: <input name="coverImage" th:field="*{coverImage}" type="text"/>
                <span class="text-danger" th:if="${#fields.hasErrors('coverImage')}" th:errors="*{coverImage}"></span>
            </td>
            <td>
                <input name="title" th:field="*{title}" type="text">
                <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </td>
            <td><input name="wonOscar" th:field="*{wonOscar}" type="checkbox"></td>
            <td>
                <input name="year" th:field="*{year}" type="text">
                <span class="text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
            </td>
            <td>
                <button>Create</button>
            </td>
        </tr>
    </form>
    </tbody>
</table>

</body>
</html>